// Kobo global pallete of colors.

/*
 * The Kobo "gray" scale
 *
 * NOTE: the list consist of colors with same hue (225) and saturation (16).
 */

// (accessible) our black, very very rare, only use if necessary for contrast
$kobo_gray_14: hsl(225, 16%, 14%); // #1e2129

// (accessible) active text, important text, text on background, top navigation
// background
$kobo_gray_24: hsl(225, 16%, 24%); // #333847

// (accessible) default text, inactive text, options text, buttons text,
// tabs text, notifications background, hover for popups and dropdowns
$kobo_gray_40: hsl(225, 16%, 40%); // #565e76

// (readable) clickable icons on hover
$kobo_gray_55: hsl(225, 16%, 55%); // #7a839f

// icons default (clickable), arrows and indicators default
$kobo_gray_65: hsl(225, 16%, 65%); // #979fb4

// inactive icons, some decorative icons
$kobo_gray_85: hsl(225, 16%, 85%); // #d3d6df

// scroll bars, table lines, dividers, background of clickable icons on hover
// when also in a highlighted table row
$kobo_gray_92: hsl(225, 16%, 92%); // #e7e9ee

// default light background, icons on hover, sidebar menu, table headings, …
$kobo_gray_96: hsl(225, 16%, 96%); // #f3f4f6

// table row highlight on hover
$kobo_gray_98: hsl(225, 16%, 98%); // #f9f9fb

// white background
$kobo_white: hsl(225, 16%, 100%); // #ffffff

/*
 * Primary colours & shades
 */

$kobo_blue: hsl(206, 90%, 55%); // # 2095f3
$kobo_alt_blue: hsl(206, 100%, 71%); // #64c0ff
$kobo_mid_blue: hsl(206, 85%, 80%); // #a1d2f7
$kobo_light_blue: hsl(206, 100%, 95%); // #e8f4ff
$kobo_dark_blue: hsl(206, 90%, 31%); // #00599d

$kobo_teal: hsl(185, 57%, 57%); // #52c5d0
$kobo_dark_teal: hsl(185, 61%, 28%); // #1c6d74
$kobo_light_teal: hsl(185, 56%, 89%); // #d4f0f3

/*
 * Secondary & tertiary colors
 */

$kobo_red: hsl(352, 100%, 70%); // #fe6b7d
$kobo_dark_red: hsl(352, 30%, 44%); // #924f58
$kobo_light_red: hsl(352, 100%, 92%); // #ffd5da

$kobo_dark_amber: hsl(30, 20%, 35%); // #6c5a49
$kobo_amber: hsl(30, 100%, 72%); // #fdb670
$kobo_light_amber: hsl(30, 100%, 90%); // #ffe8cc

// For big general backgrounds as an alternative to desaturated grays.
$kobo_storm: hsl(225, 33%, 59%); // #7386b9
$kobo_cloud: hsl(225, 65%, 97%); // #f1f4fc

$kobo_violet: hsl(271, 92%, 85%); // #dab6fc
$kobo_pink: hsl(290, 53%, 93%); // #f4e5f7

$kobo_green: hsl(126, 68%, 75%); // #96eb9e
$kobo_lime: hsl(104, 71%, 92%); // #e3f9db
